.SneakersCard {
    backdrop-filter: blur(2px);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-top: 90px;
    margin-bottom: 15px;
    width:560px;
    height: 550px;
    background-size: cover;
    text-align: center;
    display: flex;
    background-color: rgba(220, 218, 216, 0.507);
    background-blend-mode: multiply;
    color: rgb(86, 82, 82);
    backdrop-filter: blur(10px);
    overflow: hidden;
    /* Limit text to 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limit the number of displayed lines */
    -webkit-box-orient: vertical;
}

.SneakersCard-info {
    padding-top: 0px;
    width: 100%;
    backdrop-filter: blur(1px); 
}

.description {
    text-align: justify;
    text-justify: inter-word;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    height: 145px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.seeMoreBtn {
    margin-right: 15px;
    color: rgb(255, 255, 255);
    background-color: rgba(38, 163, 217, 0.577);
}